/*  Styles for ragecomicmaker  */

/** Standard Styles **/
body {
	background: url("../images/darkBack1.png") repeat scroll 0 0 transparent;
	color: #1a1a1a;
	text-align:left;
	font-size:14px;
	font-family:georgia, 'time new romans', serif;
	margin:0 auto;
	padding:0;
}
.wrapper {
	margin:0 auto;
	width:1150px;
}
a {
	color:#FFF;
}
ul,ul li {
	list-style-type:none;
	margin:0;
	padding:0;
}
h3, h4, h5, h6 {
    line-height: 26px;
}
hr {
    margin: 10px 0 9px;
}
blockquote {
	border: 2px solid #309ed6;
}
canvas {width:850px;}

/* panel */
.panel {
	background:#000;
	border:1px solid #111;
	-moz-border-radius-topleft:20px;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	height:auto;
	filter:alpha(opacity=85);
	opacity:.85;
	padding:10px;
}
.panel p {
	color:#ccc;
	margin:0 0 15px;
	padding:0;
}
#panel input {
    background: none repeat scroll 0 0 #333333;
    border: medium none;
    color: #777777;
    font-size: 30px;
    height: 40px;
    padding: 10px;
    width: 100%;
}
a.trigger {
	position:absolute;
	text-decoration:none;
	top:10px;
	left:0;
	font-size:16px;
	font-family:verdana, helvetica, arial, sans-serif;
	color:#fff;
	font-weight:700;
	background:#333;
	border:1px solid #444;
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	display:block;
	padding:20px 30px 20px 20px;
}
a.trigger:hover {
	position:absolute;
	text-decoration:none;
	top:10px;
	left:0;
	font-size:16px;
	letter-spacing:-1px;
	font-family:verdana, helvetica, arial, sans-serif;
	color:#fff;
	font-weight:700;
	background:#222 url(images/plus.png) 85% 55% no-repeat;
	border:1px solid #444;
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	display:block;
	padding:20px 30px;
}
a.active.trigger {
	background:#222 url(images/minus.png) 85% 55% no-repeat;
}

/* Canvas */
#canvas {
	z-index:100;
	background:#FFF;
	border:#000 solid 2px;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	cursor:crosshair;
}

/** Main Divs **/
.header {
	height:32px;
	background:#000;
	border:1px solid #111;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	filter:alpha(opacity=85);
	opacity:.35;
	padding:8px;
	margin-bottom:4px;
	z-index: 20;
}
#topMenuButtons {
	float:right;
	margin: 10px 10px 0 0;
	height:23px;
    position: relative;
    z-index: 60;
}
.header h1 {
	float:left;
}
#editor {
	border:solid #a3f1ff 2px;
	position:absolute;
}
#container {
	clear:both;
	margin:0;
	padding:0;
	width:1000px;
	margin: 20px auto;
}
.columns {
	clear:both;
	width:330px;
	line-height:22px;
	padding:0 0 20px;
}
.colleft {
	float:left;
	width:130px;
	line-height:22px;
}

#container a {
	float:right;
	background:#9FC54E;
	border:1px solid #9FC54E;
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	text-decoration:none;
	font-size:16px;
	letter-spacing:-1px;
	font-family:verdana, helvetica, arial, sans-serif;
	color:#fff;
	font-weight:700;
	padding:20px;
}

#container a:hover {
	float:right;
	background:#a0a0a0;
	border:1px solid #ccc;
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	text-decoration:none;
	font-size:16px;
	letter-spacing:-1px;
	font-family:verdana, helvetica, arial, sans-serif;
	color:#fff;
	font-weight:700;
	padding:20px;
}

.content {
	font-style:normal;
	font-family:helvetica, arial, verdana, sans-serif;
	color:#fff;
	background:#333;
	border:1px solid #444;
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	margin:30px 0 50px;
	padding:15px 0;
}

.content p {
	margin:10px 0;
	padding:15px 20px;
}


/** Toolbars **/
.tools {
	background: url("../images/darkBack2.png") repeat scroll 0 0 #FFFFFF;
	width:80px;
	right:0;
	display:none;
	padding:6px;
	margin-top:2px;
	border: 2px solid #000000;
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-right-radius:20px;
}
.tools table td, .tools table td {
	padding:2px;
	border:none;
}
.tools button {
	width:60px;
}
.tools ul {
	width:50px;
}
.tools h1, .tools h2, .tools h3, .tools h5 {
	color:#fff;
}
#demo-frame > div.demo { padding: 10px !important; }
blockquote {
  font-size: 1.5em;
  .roundedBox( 5px, #6c6 );
}

/** roundabout **/
#smilesTools {
	width:140px;
	height:600px;
	overflow: auto;
}
.roundabout {
	margin:0 auto;
}
.roundabout-holder {
  list-style: none;
  padding: 0;
  height: 5em;
  width: 5em;
}
.roundabout-moveable-item {
  height: 4em;
  width: 4em;
  cursor: pointer;
  /*background-color: #ccc;
  border: 1px solid #999; */
}
.roundabout-in-focus {
  cursor: auto;
}

/** Color Picker **/

#colorSelector div {
	background: url("../js/colorpicker/images/select.png") repeat scroll center center transparent;
    height: 28px;
    width: 28px; 
    border-radius:4px;
}
#colorSelector {
   /* background: url("../js/colorpicker/images/select2.png") repeat scroll 0 0 transparent; */
}
#slider-bubble {
	width:20px;
}

.colright {
	float:right;
	width:130px;
	line-height:22px;
}
#colorpickersubmit {
	float:right;
	width:48px;
}
#sizepickersubmit {
	float:right;
	width:48px;
}
#slider-bar {
	position:absolute;
	float:left;
	display: none;
}
.ui-tabs .ui-tabs-panel {
	min-height:80px;
}

.ui-widget-content {
	background:#ADBAD4;
}
.ui-draggable-dragging {
	border: 2px solid #DDDDDD;
}

/* page structure */
#cpTile {
	width:10px;
	height:10px;
	cursor: pointer;
	padding:0 10px 0 10px;
}
#cpTile:hover {
	width:8px;
	height:8px;
	cursor: pointer;
	padding:0 8px 0 8px;
	border:solid 1px #ddd;
}
.tipBox {
	opacity: 0.85;
	background: none repeat scroll 0 0 #000000;
    border: 1px solid #111111;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    position: fixed;
    top: 0px;
    left:30%;
    width: auto;
    display:none;
}
.tipBox p {
	padding:0;
	margin:0;
	line-height:14px;	
}
#showBox {
	 border:2px #ddd dashed; 
	 position:relative;
	 width:0px;
	 height:0px;
	 border-radius: 4px;
}
#titlePreview {
	 background:#c7e3ff;
	 position:relative;
	 width:40px;
	 height:10px;
	 border-radius: 4px;
}
#textbox{
	width:200px;
}
