order deny,allow

<Files ~ "^(\.htaccess|\.htpasswd|php.ini|.ini\/db.ini)$">
  deny from all
</Files>

Options -Indexes 
Options +FollowSymlinks
RewriteEngine on
RewriteRule ^([a-zA-Z0-9]{6}+)$ /uploads/$1.png

